# tvcxvps caddyfile

(defaults) {
    tls /ssl/cert.pem /ssl/cert-key.pem
    encode zstd gzip
}

http://consul.tvcxvps.tvcxair.net.cezarmathe.com {
    redir https://consul.tvcxvps.tvcxair.net.cezarmathe.com permanent
}

https://consul.tvcxvps.tvcxair.net.cezarmathe.com {
    import defaults
    reverse_proxy https://10.125.66.0:8500
}

http://vault.tvcxvps.tvcxair.net.cezarmathe.com {
    redir https://vault.tvcxvps.tvcxair.net.cezarmathe.com permanent
}

https://vault.tvcxvps.tvcxair.net.cezarmathe.com {
    import defaults
    reverse_proxy https://10.125.66.0:8200
}

http://tvcxvps.tvcxair.net.cezarmathe.com {
    redir https://tvcxvps.tvcxair.net.cezarmathe.com permanent
}

https://tvcxvps.tvcxair.net.cezarmathe.com {
    import defaults
    root * /srv/http
    file_server browse
}
